  <div class="profile-form-div" id="form1">
    <h3 class="form-card-heading">PERSONAL DETAILS</h3>
    <img
      src="<%= googleUser.user.photos[0].value %> "
      alt=""
      id="preview-img"
    />

    <input
      type="text"
      name="name"
      value="<%= profile.name %>"
      placeholder="Full Name"
      class="form-card-input"
    />
    <input
      type="number"
      name="age"
      value="<%= profile.age %>"
      onkeypress="return isNumberKey(event)"
      placeholder="Age"
      class="form-card-input"
    />
    <input
      type="number"
      name="mobileNumber"
      value="<%= profile.mobileNumber %>"
      onkeypress="return isNumberKey(event)"
      placeholder="Mobile Number"
      class="form-card-input"
    />
    <input
      type="text"
      name="userEmail"
      value="<%= profile.userEmail %>"
      placeholder="Email"
      class="form-card-input"
    />
    <div class="form-btn-box">
      <button type="button" id="form-next1">Next</button>
    </div>
  </div>
  <div class="profile-form-div" id="form2">
    <h3 class="form-card-heading">BANK DETAILS</h3>
    <input
      type="text"
      name="bankName"
      value="<%= profile.bankName %>"
      placeholder="Bank Name"
      class="form-card-input"
    />
    <input
      type="text"
      name="bankAccountholderName"
      value="<%= profile.bankAccountholderName %>"
      placeholder="Account Holder Name"
      class="form-card-input"
    />
    <input
      type="number"
      name="bankAccountNumber"
      value="<%= profile.bankAccountNumber %>"
      onkeypress="return isNumberKey(event)"
      placeholder="Account Number"
      class="form-card-input"
    />
    <input
      type="text"
      name="bankBranchName"
      value="<%= profile.bankBranchName %>"
      placeholder="Branch Name"
      class="form-card-input"
    />
    <input
      type="text"
      name="bankBranchIFSC"
      value="<%= profile.bankBranchIFSC %>"
      placeholder="IFSC Code"
      class="form-card-input"
    />

    <div class="form-btn-box">
      <button type="button" id="form-back1">Back</button>
      <button type="button" id="form-next2">Next</button>
    </div>
  </div>
  <div class="profile-form-div" id="form3">
    <h3 class="form-card-heading">UPLOAD DOCUMENTS</h3>
    <input
      type="number"
      name="aadharNumber"
      value="<%= profile.aadharNumber %>"
      onkeypress="return isNumberKey(event)"
      placeholder="Aadhar Card Number"
      class="form-card-input"
    />
    <label for="aadhar" class="profile-label-btn">Choose file</label>

    <input
      type="text"
      name="panCardNumber"
      value="<%= profile.panCardNumber %>"
      placeholder="PAN Card Number"
      class="form-card-input"
    />
    <label for="pan" class="profile-label-btn">Choose file</label>

    <input
      type="number"
      name="monthlySalary"
      value="<%= profile.monthlySalary %>"
      onkeypress="return isNumberKey(event)"
      name=""
      placeholder="Monthly Income"
      class="form-card-input"
    />
    <label for="income" class="profile-label-btn">Choose file</label>
    <input
      type="number"
      name="CTC"
      value="<%= profile.CTC %>"
      onkeypress="return isNumberKey(event)"
      placeholder="CTC"
      class="form-card-input"
    />
    <div class="form-btn-box">
      <button type="button" id="form-back2">Back</button>
      <button type="submit">Submit</button>
    </div>
  </div>
