<div class="loan-two-column" id="">
  <div class="loan-left">
    <input
      id="loan-amount"
      type="text"
      name="amount"
      value="<%= loan.amount %>"
      required
      onkeypress="return isNumberKey(event)"
    />
    <label
      for="loan-amount"
      alt="Loan amount (in Rs.)"
      placeholder="Loan amount (in Rs.)"
    ></label>
    <input
      id="loan-tenure"
      type="text"
      name="tenure"
      value="<%= loan.tenure %>"
      required
      onkeypress="return isNumberKey(event)"
    />
    <label
      for="loan-tenure"
      alt="Tenure (in yrs)"
      placeholder="Tenure (in yrs)"
    ></label>
  </div>
  <div class="loan-right">
    <input
      id="loan-credit-score"
      type="text"
      value="<%= user.cibilScore %>"
      disabled
      class="loan-diabled-input"
    />
    <label
      for="loan-credit-score"
      alt="Credit scrore"
      placeholder=""
    ></label>
    <input
      id="loan-interest-rate"
      type="text"
      name="interestRate"
      value="<%= loan.interestRate %>"
      required
      onkeypress="return isNumberKey(event)"
    />
    <label
      for="loan-interest-rate"
      alt="Interest Rate (in % per yr)"
      placeholder="Interest Rate (in % per yr)"
    ></label>
  </div>
</div>
<textarea
  name="reason"
  placeholder=" Reason (not required)"
  class="loan-reason"
  maxlength="100"
>
  <%= loan.reason %>
</textarea>
