<div class="form-row">
    <div class="form-item">
      <label>Loan Amount</label>
      <input type="hidden" name="id" value="<%= loan.id %>" />
      <input type="number" name="amount" placeholder="Loan Amount" required value="<%= loan.amount %>" />
      <br>
      <label>Interest Rate</label>
      <input type="number" name="interestRate" placeholder="Interest Rate" required value="<%= loan.interestRate %>" />
      <br>
      <label>Tenure</label>
      <input type="number" name="tenure" placeholder="Tenure" required value="<%= loan.tenure %>" />
      <br>
      <label>Reason</label>
      <input type="description" name="reason" placeholder="Reason" value="<%= loan.reason %>" />
    </div>
  </div>
  